In [2]:
import pandas as pd
import numpy as np

In [9]:
pd.isnull(NaN)

False

In [10]:
NaN == True

False

In [25]:
visited = pd.read_csv('survey_visited.csv', 
                      )
visited
#keep_default_na makes the nan blank....

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [26]:
#boolean subsetting to subset rows and columns
visited.dated

0    1927-02-08
1    1927-02-10
2    1939-01-07
3    1930-01-12
4    1930-02-26
5           NaN
6    1932-01-14
7    1932-03-22
Name: dated, dtype: object

In [27]:
#checking if a column has a nan value
pd.isnull(visited.dated)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: dated, dtype: bool

In [28]:
visited.ix[pd.isnull(visited.dated)]

c:\users\unicorn\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   ident  site dated
5    752  DR-3   NaN